aclocal.m4
autom4te.cache
configure
m4
config.log
config.status

**/*\.in
**/*~
**/Makefile
**/*\.o

oe-logs
oe-workdir

cfg/compile
cfg/depcomp
cfg/install-sh
cfg/missing
cfg/config.h
cfg/stamp-h1

src/.deps
src/mqtt-gpio
