[Unit]
Description=mqtt-gpio
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/mqtt-gpio

[Install]
WantedBy=multi-user.target
